<% layout('../layout')%>
    <% block('title', '404')%>

        <header>
            <div class="page-heading1">
                <div class="container">
                    <h1>404 error</h1>
                    <p>No page found at this url</p>
                    <div class="row text-center">
                        <a href="/" type="button" class="btn btn-default btn-lg">Return to index</a>
                    </div>
                </div>
            </div>
        </header>