<% layout('../layout')%>
    <% block('title', 'teacher home')%>

        <header>
            <div class="page-heading2">
                <div class="container">
                    <h1>Teacher Dashboard</h1>
                    <p>You can add and update students notes , display the final PV
                        <br>and view students reclamations</p>
                </div>
                <div class="row text-center">
                    <div class="col-sm-4 col-sm-offset-1">
                        <a href="/students" type="button" class="btn btn-primary btn-lg pull-right">Students</a>
                    </div>
                    <div class="col-sm-4 col-sm-offset-1">
                        <a href="/pv" type="button" class="btn btn-warning btn-lg">Final PV</a>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">

        </div>