<nav class="navbar navbar-findcond navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">StudentRestApp</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <%if(user){%>
                <%if(user.student){%>
                <li>
                    <a href="/notes">Notes</a>
                </li>
                <%}%>
                <%if(user){%>
                    
                    <li>
                        <a href="/actualities"> Actualities </a>
                    </li>
                    
                    
                <%}%>
                <%}%>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <%if(user){%>    
            <% if(user.teacher){%>
                <% if(user.teacher.isResp == 1){%>
                <li>
                    <a href="/reclamations" role="button">
                    <i class="fa fa-fw fa-bell-o"></i> Reclamations
                        <% if(nmbrRec){%>
                        <span class="badge"><%=nmbrRec%></span>
                        <% }else {%>
                        <span class="badge">0</span>
                        <%}%>
                    </a>
                </li>
                <li class="active">
                    <a href="/dashboard">Dashboard
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                 <%}else{%>
                <li>
                    <a href="/reclamations" role="button">
                        <i class="fa fa-fw fa-bell-o"></i> Reclamations
                        <% if(nmbrRec){%>
                        <span class="badge"><%=nmbrRec%></span>
                        <% }else {%>
                        <span class="badge">0</span>
                        <%}%>
                    </a>
                </li>
                <li class="active">
                    <a href="/dashboard">Dashboard
                    <span class="sr-only">(current)</span>
                    </a>
                </li>
                <%}%>
            <%}%>  
            <% if(user.student){%>
                <li class="active">
                    <a href="/dashboard">Dashboard
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            <%}%>
            <%}%>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                <%if(user){%>    
                <% if(user.teacher || user.student) {%>
                    <li>
                        <a href="/logout">logout</a>
                    </li>
                    <%if(user.teacher){%>
                       <% if(user.teacher.isResp==1){%>
                    <li>
                        <a href="/account">edit acount</a>
                    </li>
                        <%}else{%>
                    <li>
                        <a href="/account">edit acount</a>
                    </li>
                        <%}%>
                    <%}%>
                <%}%>
                <%}else{%>
                <li>
                    <a href="/login">login</a>
                </li>
            <%}%>

            <!-- <li class="divider"></li> -->

            </ul>
            </li>
            </ul>
            <form class="navbar-form navbar-right search-form" role="search">
            <input type="text" class="form-control" placeholder="Search" />
            </form>
        </div>
    </div>
</nav>